.border {
    border: solid 1px lightgrey;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px;
}
#one-more-track {
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
#one-more-track:active {
    text-shadow: grey -1px 0px 0.5px;
}
.input-file-wrapper .button {
    position: absolute;
    width: 35px;
    height: 35px;
    background-image: url("images/download.png");
    background-repeat: no-repeat;
    background-size: 100%;
    right: 3.5%;
}
div.input-file-wrapper {
    position: relative;
}
.input-file-wrapper .file {
    display: none;
}
#delete {
    float: right;
    width: 20px;
    height: 20px;
    background-image: url("images/delete.png");
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}
#delete:active {
    box-shadow: grey 0.5px -0.5px 0.5px;
}
#deleteAlbum {
    border: solid grey 1px;
    border-radius: 5px;
    height: 130px;
    width: 500px;
    text-align: center;
    position: fixed;
    top: 30%;
    left: 30%;
    background-color: lightgrey;
    display: none;
    box-shadow: grey 2px 2px 2px;
}
#YesNo {
    margin-left: 180px;
}
#Yes, #No {
    cursor: pointer;
    border: solid grey 1px;
    width: 35px;
    height: 35px;
    float: left;
    margin-right: 40px;
    text-align: center;
    border-radius: 5px;
    color: lightblue;
    background-color: grey;
}
#No {
    padding-top: 6px;
}
#newTrack {
    display: none;
}
